#xpTable {
width: 320px;
background-color:gray;
border-spacing: 5px;
}

#main{
margin: 0 auto;
text-align: center;
width: 320px !important;
background-color: LightGray;
}

table
{
text-align: center;
vertical-align: middle;
margin: auto;
}

td
{
text-align: center;
vertical-align: middle;
}

input[type="text"]
{
text-align: center;
width: 75px;
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
}

input[type="number"]
{
text-align: center;
width: 75px;
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
}

.number{
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
margin: 0px;
}

.sumSymbol
{
background-image: url('../img/sumSymbol.png');
width: 24px;
height: 24px;
}

.sumSymbolSel
{
background-image: url('../img/sumSymbolSel.png');
width: 24px;
height: 24px;
}

.sumLine{
background-color:red;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
}

.subSymbol
{
background-image: url('../img/subSymbol.png');
width: 24px;
height: 24px;
}

.subSymbolSel
{
background-image: url('../img/subSymbolSel.png');
width: 24px;
height: 24px;
}

.subLine{
background-color:blue;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
}

.multSymbol
{
background-image: url('../img/multSymbol.png');
width: 24px;
height: 24px;
}

.multSymbolSel
{
background-image: url('../img/multSymbolSel.png');
width: 24px;
height: 24px;
}

.multLine{
background-color:green;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
}

.divSymbol
{
background-color: #d29400;
height: 4px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}

.divSymbolSel
{
background-color: #FF9900;
height: 4px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}

.divLine{
background-color:yellow;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
}

.parentesis
{
background-color: red;
width: 5px;
}

.nameField
{
text-align: left;
}

.darkerField1
{
background-color: #505050;
}

.darkerField2
{
background-color: #808080;
}
