#bgDiv {
text-align: center;
width: 100%;
height: 100%;
position: fixed;
top: 0px;
vertical-align: middle;
background-color: LightGray;
}

#startDiv {
text-align: center;
width: 100%;
height: 100%;
position: absolute;
vertical-align: middle;
}

#spanDiv {
text-align: center;
width: 100%;
height: 100%;
position: fixed;
top: 0px;
vertical-align: middle;
}

#xpDiv {
text-align: center;
width: 100%;
height: 100%;
position: absolute;
vertical-align: middle;
}

#startTable {
width: 100%;
height: 100%;
}

#startButton {
background-color: green;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
width: 150px;
margin: auto;
}

#nextButton {
background-color: blue;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
width: 150px;
margin: auto;
}

#exitButton {
background-color: red;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
width: 150px;
margin: auto;
}

@-webkit-keyframes white100white0
{
0% {
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
margin: 10px;
color: rgba(255,255,255,1);
}
10% {
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
margin: 10px;
color: rgba(255,255,255,1);
}
55% {
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
margin: 10px;
color: rgba(255,255,255,0.75);
}
100% {
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
margin: 10px;
color: rgba(255,255,255,0);
}
}

/* Standard syntax */
@keyframes white100white0
{
0% {
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
margin: 10px;
color: rgba(255,255,255,1);
}
10% {
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
margin: 10px;
color: rgba(255,255,255,1);
}
55% {
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
margin: 10px;
color: rgba(255,255,255,0.75);
}
100% {
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
margin: 10px;
color: rgba(255,255,255,0);
}
}

@-webkit-keyframes white100glowblue0
{
0% {
background: rgba(255,255,255,1);
box-shadow: 0px 0px 32px #ffffff;
}
10% {
background: rgba(0,0,255,1);
box-shadow: 0px 0px 0px #ffffff;
}
55% {
background: rgba(0,0,255,0.75);
box-shadow: none;
}
100% {
background: rgba(0,0,255,0);
}
}

/* Standard syntax */
@keyframes white100glowblue0
{
0% {
background: rgba(255,255,255,1);
box-shadow: 0px 0px 32px #ffffff;
}
10% {
background: rgba(0,0,255,1);
box-shadow: 0px 0px 0px #ffffff;
}
55% {
background: rgba(0,0,255,0.75);
box-shadow: none;
}
100% {
background: rgba(0,0,255,0);
}
}

@-webkit-keyframes white100glowred0
{
0% {
background: rgba(255,255,255,1);
box-shadow: 0px 0px 32px #ffffff;
}
10% {
background: rgba(255,0,0,1);
box-shadow: 0px 0px 0px #ffffff;
}
55% {
background: rgba(255,0,0,0.75);
box-shadow: none;
}
100% {
background: rgba(255,0,0,0);
}
}

/* Standard syntax */
@keyframes white100glowred0
{
0% {
background: rgba(255,255,255,1);
box-shadow: 0px 0px 32px #ffffff;
}
10% {
background: rgba(255,0,0,1);
box-shadow: 0px 0px 0px #ffffff;
}
55% {
background: rgba(255,0,0,0.75);
box-shadow: none;
}
100% {
background: rgba(255,0,0,0);
}
}

@-webkit-keyframes shimAnim
{
0% {
background: rgba(255,255,255,0);
}
100% {
background: rgba(255,255,255,0);
}
}

/* Standard syntax */
@keyframes shimAnim
{
0% {
background: rgba(255,255,255,0);
}
100% {
background: rgba(255,255,255,0);
}
}

#spanWarnDiv {
-moz-border-radius: 32px;
-webkit-border-radius: 32px;
width: 64px;
height: 64px;
margin: auto;
}

.animateShim {
-webkit-animation: shimAnim 1s; /* Chrome, Safari, Opera */
animation: shimAnim 1s;
}

.animateInc {
-webkit-animation: white100glowblue0 1s; /* Chrome, Safari, Opera */
animation: white100glowblue0 1s;
}

.animateDec {
-webkit-animation: white100glowred0 1s; /* Chrome, Safari, Opera */
animation: white100glowred0 1s;
}

.animateNum {
-webkit-animation: white100white0 1s; /* Chrome, Safari, Opera */
animation: white100white0 1s;
}

#xpTable {
width: 320px;
background-color:gray;
border-spacing: 5px;
}

table
{
text-align: center;
vertical-align: middle;
margin: auto;
}

td
{
text-align: center;
vertical-align: middle;
}

input[type="text"]
{
text-align: center;
width: 75px;
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
}

input[type="number"]
{
text-align: center;
width: 75px;
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
}

.startTableRow {
height:33%
}

.text{
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
margin: 10px;
color: white;
}

.number{
font-size: 32px;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: bold;
margin: 0px;
}

.sumSymbol
{
background-image: url('../img/sumSymbol.png');
width: 24px;
height: 24px;
}

.sumSymbolSel
{
background-image: url('../img/sumSymbolSel.png');
width: 24px;
height: 24px;
}

.sumLine{
background-color:red;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
}

.subSymbol
{
background-image: url('../img/subSymbol.png');
width: 24px;
height: 24px;
}

.subSymbolSel
{
background-image: url('../img/subSymbolSel.png');
width: 24px;
height: 24px;
}

.subLine{
background-color:blue;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
}

.multSymbol
{
background-image: url('../img/multSymbol.png');
width: 24px;
height: 24px;
}

.multSymbolSel
{
background-image: url('../img/multSymbolSel.png');
width: 24px;
height: 24px;
}

.multLine{
background-color:green;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
}

.divSymbol
{
background-color: #d29400;
height: 4px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}

.divSymbolSel
{
background-color: #FF9900;
height: 4px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}

.divLine{
background-color:yellow;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
}

.parentesis
{
background-color: red;
width: 5px;
}

.nameField
{
text-align: left;
}

.darkerField1
{
background-color: #505050;
}

.darkerField2
{
background-color: #808080;
}
